
/*Css for Services Container */

.services__container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 1rem;
  margin-top: 3rem;
  width: 100%;
  justify-content: center;
  align-items: center;
  justify-items: center;

}

.services__container__card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin-top: 3rem;
  margin-bottom: 3rem;

}

.services__container__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 3rem;
  margin-bottom: 3rem;
  text-align: center;
}
.services__container__text h3 {
  color:beige;
  font-family: "ConfortaRegular";
  font-size: 2rem;
  margin-bottom: 1rem;
}

.services__container__text p {
  color:beige;
  font-family: "ConfortaRegular";
  font-size: 1.2rem;
  margin-bottom: 1rem;
  max-width: 40ch;
}

