
/*Css for Services Container */

.services__container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 1rem;
  margin-top: 6rem;
  width: 100%;
  justify-content: center;
  align-items: center;
  justify-items: center;

}

.services__container__card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.services__container__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin-top: 3rem;
  margin-bottom: 3rem;
  text-align: center;
}
.services__container__text h3 {
  color:beige;
  font-family: "ConfortaRegular";
  font-size: 24px;
  margin-bottom: 1rem;
  text-shadow:
  0 0 3px beige
}

.services__container__text p {
  color:beige;
  font-family: "ConfortaRegular";
  font-size: 1rem;
  margin-bottom: 1rem;
  max-width: 60ch;
}

.services__container__img img {
  height: 100%;
  width: 100%; 
  border-radius: 1rem;
}

/* Media Query for mobile devices */
@media screen and (max-width: 600px) {
  .services__container__card {
    display: flex;
    flex-direction:column-reverse;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .services__container__card__design {
    flex-direction: column;

  }

  .services__container__text {
  
    width: 70%;
  
  }

  .services__container {
   
    width: 95%;
 
  }
  
}

@media only screen and (min-width: 601px) and (max-width: 1181px)
{
  .services__container__card {
    display: flex;
    flex-direction:column-reverse;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .services__container__card__design {
    flex-direction: column;

  }
  .services__container__img img {
    height: 90%;
    width: 400px; 
    border-radius: 1rem;
  }
}



