.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container__carousel__img {
  background-size: cover;
  background-position: center center;
  height: 42vh;
  width: 100%;
 
}
.carousel__img__mother {
  background-image:url(https://res.cloudinary.com/ijac-it-solutions/image/upload/v1661222135/img/motherboard_qpogur.jpg);
}

.carousel__img__mother2 {
  background-image:url(https://res.cloudinary.com/ijac-it-solutions/image/upload/v1661222132/img/micro_mycmmk.jpg);
}

.container__carousel {
  width: 150vh;
  border-radius: 10px;
}